
<form method="POST" action="/new">
    <input type="text" placeholder="user" name="messageUser">
    <input type="text" placeholder="message" name="messageText">
    <input type="submit" value="submit">
</form>
